body{
    background-color: rgb(4, 29, 29);
}

.container{
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: rgb(38, 102, 102);
    margin-left: 33%;
    margin-top: 50px;
}
input{
    width: 270px;
    padding: 8px;
    outline-style: none;
    border: 3px solid rgb(1, 13, 13);
}
button{
    width: 60px;
    height: 38px;
    background-color: rgb(33, 59, 59);
    color: white;
    border-radius: 2px;
    font-size: 19px;
    border: 3px solid rgb(1, 13, 13);
}
.text ul{
    background-color: rgb(19, 61, 61);
    position: relative;
    color: white;
    text-align: left;
    font-size: 19px;
}